<!DOCTYPE html>
<html>
<head>
    <title>Membership Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2 style="text-align:center; margin-top:30px;">Membership Report</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Status</th>
    </tr>

    {% for r in data %}
    <tr>
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/dashboard" class="back-link">← Back to Dashboard</a>

</body>
</html>
